@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 16px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

header img.logo, .logo {
  width: calc(200px);
  height: auto;
  object-fit: contain;
}

header > div.theme-band {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 4px #ffcc00 solid;
  height: 70px;
  flex-grow: 1;
}

header > div.theme-band > div {
  display: block;
  height: 25px;
  width: 100%;
}

header > div.theme-band :nth-child(1) {
  background-color: #ffcc00 !important;
}

header > div.theme-band :nth-child(2) {
  background-color: #d3d3d3 !important;
}

header > div.theme-band :nth-child(3) {
  background-color: #cc9900 !important;
}

header > div.theme-band :nth-child(4) {
  background-color: #666262 !important;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

main > div.content {
  flex-grow: 1;
  background-color: #d3d3d3 !important;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main > div.content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.account-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.menu {
  overflow: visible;
}

.drop-down {
  position: fixed;
  top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #9c9898 !important;
}

.drop-down > span {
  cursor: pointer;
  padding: 0.5em;
  color: #666262;
  width: calc(100% - 1em);
  background-color: #d3d3d3 !important;
  text-align: left;
}

.drop-down > span:hover {
  background-color: #ffffff !important;
  color: #666262;
}

#arrow-drop {
  color: #666262;
  cursor: pointer;
}

.x {
  position: relative;
}

#side-bar, .drop-down {
  background-color: #9c9898 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #666262;
  width: 200px;
  text-align: left;
  font-size: large;
}

#side-bar {
  padding-top: 1em;
  height: calc(100vh - 74px);
}

#side-bar .item {
  width: calc(100% - 4em);
  padding: 0.5em 2em;
  margin: 0 auto;
  cursor: pointer;
}

#side-bar .active {
  background-color: #d3d3d3 !important;
  border-left: 10px solid #666262;
  width: calc(100% - 4em - 10px);
}

footer {
  text-align: center;
  color: #ffffff;
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  background-color: #666262 !important;
}

#feedback {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: calc(100% - 4em);
  padding: 0.5em 2em;
  background-color: #e63030c9 !important;
  color: #ffffff;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.buttons, form input[type=submit] {
  background-color: #cc9900 !important;
  color: #ffffff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 100px;
  font-family: "Baloo Thambi 2", cursive;
  text-transform: uppercase;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

form#signup {
  width: 50%;
}

form input[type=number], form input[type=text], form input[type=email], form input[type=password], form input[type=select], form input[type=submit] {
  min-width: 300px;
  padding: 0.5em 1em;
  margin: 0.5em;
}

input[type=email]:invalid, input[type=password]:invalid {
  outline-color: #e63030c9;
}

input[type=email]:valid, input[type=password]:valid {
  outline-color: #ffcc00;
}

.medium-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 30px;
}

.small-text {
  font-size: 0.5rem;
}

.primary-text {
  color: #ffcc00;
}

.primary-dark-text {
  color: #cc9900;
}

.secondary-text {
  color: #d3d3d3;
}

.fail-text {
  color: #e63030c9;
}

a,
a:visited,
a.nav-item,
a.nav-item:visited {
  color: #cc9900;
  text-decoration: none;
}

a:hover,
a.nav-item:hover {
  text-decoration: underline;
  color: #cc9900;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.action-buttons > span {
  cursor: pointer;
  padding: 0.5em;
}

.action-buttons > span:hover {
  color: #d3d3d3;
}

.icon-button {
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #ffcc00;
  width: 150px;
  height: 150px;
  margin: 2em auto;
  cursor: pointer;
  border: 1px solid #ffcc00;
}

.icon-button > span.material-icons {
  font-size: 3.2rem;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #d3d3d3 !important;
  color: #ffffff;
  border: 0px solid #ffcc00;
}

.bg-success {
  background-color: #d3d3d3 !important;
  color: #ffffff !important;
}

.primary-bg {
  background-color: #ffcc00 !important;
  color: #ffffff !important;
}

#spinner {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  border-top: none;
  animation: spin 1s linear 0s 3 forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
