@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
$primaryColor: #ffcc00;
$primaryDarkColor: #cc9900;
$secondaryColor: #d3d3d3;
$faint:#a8a2a2;
$faintLight: #f0ebeb9d;
$faintDark:#666262;
$defaultColor: #ffffff;
$failColor:#e63030;
$failColorFaint:#e63030ab;
$successColorFaint:#3cbe3c9a;
$successColor:#0f810f;
$buttonBorderSize:4px;
$buttonBorderRadius:8px;
$titleSize:30px;
$standardTextSize:16px;
$fontFamily:'Baloo Thambi 2';
$sideBarSize: 200px;

@mixin addRoundCorner($size:$buttonBorderRadius) {
  border-radius:$size;
}
@mixin addRoundCornerTop($left:$buttonBorderRadius,$right:$buttonBorderRadius) {
  border-top-left-radius: $left;
  border-top-right-radius: $right;
}
@mixin squareCorner {
  border-radius: unset !important;
}
@mixin addBorder($size:$buttonBorderSize,$color:$primaryColor,$style:solid) {
  border: $size $color $style;
}
@mixin shade {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@mixin flex($d: row, $j: center, $a: center) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
  // flex-wrap: wrap;
}
@mixin setBg($color: $defaultColor) {
  background-color: $color !important;
}
html {
  scroll-behavior: smooth;
}
.wrap{
  max-width: 100%;
  flex-wrap: wrap !important;
  // flex-wrap:wrap-reverse
}
.shadow{
  @include shade();
}
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily,cursive;
  font-size:$standardTextSize;
  color:$faint;
  width:100%;
  height:100%;
}

//layouts
header {
  @include flex(row, space-between, flex-start);
  padding: 0;
}
header #menu{
  margin:0.5em;
  display: none;
}
header img#client_logo{
  width:auto;
  height:50px;
  object-fit: cover;
  margin:0.25em 1em;
}
header img.logo,.logo {
  width: calc(#{$sideBarSize} - 1em);
  height: auto;
  margin:0 0.5em;
  object-fit: contain;
}
header > div.theme-band{
  @include flex(column,flex-start,flex-start);
  border-bottom:2px $primaryColor solid;
  height:70px;
  flex-grow: 1;
}
header > div.theme-band .colors {
  @include flex(row,space-evenly ,center );
  width: 100%;
}
header > div.theme-band .colors > span{
  display: block;
  height:10px;
  width:100%;
}
header > div.theme-band .colors :nth-child(1){
  @include setBg($primaryColor);
}
header > div.theme-band .colors :nth-child(2){
  @include setBg($secondaryColor);
}
header > div.theme-band .colors :nth-child(3){
  @include setBg($primaryDarkColor);
}
header > div.theme-band .colors :nth-child(4){
  @include setBg($faintDark);
}
//main
main{
  margin:0 auto;
  min-height:100%;
  height:auto;
  @include flex(row,flex-start,flex-start );
  @include setBg($faint);
  // overflow-y: scroll;
}
main#signin_page,main#signup_page{
  @include setBg($defaultColor);
}
//content
main > div.content{
  flex-grow: 1;
  @include setBg($defaultColor);
  padding:0.5em 1em;
  @include flex(column,flex-start,flex-start);
  min-height:100vh;
}
main > div.content .eticket{
  @include setBg($defaultColor);
  @include addRoundCorner(10px);
  padding:0.5em;
  @include flex(column,center,flex-start);
  margin:0.5em auto;
  width:calc(100% - 0em);
  cursor: pointer;
  flex-grow: 1;
  @include shade();
}
main > div.content .eticket-active{
  border-left:8px solid $faintDark;
  width:calc(100% - 8px);
}

main > div.content .info{
  @include flex(row,space-between ,center );
  width: 100%;
  margin:0.25em 0;
  text-align: left;

}
main > div.content .info-map{
  height:300px;
}
main >div.content .info-stats,main >div.content .info-map{
  @include flex(row,space-between ,center );
  flex-wrap: wrap;
  width: calc(50% - 1em);
  margin:1em 0.25;
}
main > div.content #map-chart{
  // width:calc(10% - 1em);
  max-height:300px;
}
main >div.content .info-charts, main > div.content .info-map{
  padding:0.5em;
  width: calc(50% - 1.5em);
  margin-top:1em;
  height: 300px;
}
.info-charts > canvas{
  height:100% !important;
  width:100% !important;
}
.info-charts, .info-map{
  @include setBg($defaultColor);
  border:1px solid $primaryColor;
}
main > div#dashboard_content{
  background-image: url(../img/admin_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#clients_content,#add_client_content,#edit_client_content{
  @include setBg($defaultColor);
}
.account-menu{
  @include flex(row,flex-start,center);
}
#greetings{
  margin-left:0;
  padding-left:0;
}
//avatar
.user-avatar{
  border-radius: 50%;
  width:50px;
  height:50px;
  object-fit: contain;
  margin-right:2em;
 
  // border:1px solid $faintDark;
}
.preview{
  width:120px;height:120px;border-radius: 50%;object-fit: contain;
  // border:1px solid red;
  margin:0.25em;
}

#my-detail{
  width:60%;
}
#my-detail > div.form-container{
  width: 100%;
}
.upload-image{
  @include flex(row,space-evenly,center);
  @include setBg($defaultColor);
  @include addRoundCorner(5px);
  width:calc(100% - 1em);
  padding:0.5em;
  margin-top:0.5em;
}
.upload-image >span{
  margin-left:0.5em;
}
.menu{
  overflow: visible;
}
//dropdwon menu
.drop-down{
  position:fixed;
  top:140px;
  width: 100%;
  right:1em;
  @include flex(column,flex-start,flex-start);
  @include setBg($faint);
  border:0.5px solid $faintDark;
}
.drop-down > span{
  cursor: pointer;
  padding:0.5em;
  color:$faintDark;
  width:calc(100% - 1em);
@include setBg($secondaryColor);
text-align: left;
}
.drop-down > span:hover{
  @include setBg($defaultColor);
  color:$faintDark;
}
.arrow{
  color:$faintDark;
  cursor: pointer;
}
.sort-arrow{
  cursor: pointer;
}
.content .can-hide{
  margin:1em auto;
  width: 100%;
}
//end of content
#side-bar,.content{
  // min-height: 100vh;
  height:100%;
}
//side bar
#side-bar,.drop-down{
  @include setBg($faint);
  @include flex(column,flex-start,flex-start );
  color:$faintDark;
  width:$sideBarSize;
  text-align: left;
  font-size: large;
}
#side-bar{
  padding-top:1em;
  min-width: $sideBarSize;
}
#side-bar .menu-item,#side-bar .item-expandable{
  width:calc(100% - 2em);
  padding:0.5em 1em;
  margin:0 auto;
  cursor: pointer;
}

#side-bar >span.active{
  @include setBg($secondaryColor);
  border-left: 10px solid $faintDark;
  width:calc(100% - 2em);
  padding-left: calc(1em - 10px);
}
#side-bar .submenu{
  @include flex(column,flex-start,flex-start);
  margin-left:1em;
  width:calc(100% - 1em);
  font-size: medium;
}
#side-bar .submenu >span.active{
  @include setBg($secondaryColor);
  border-left: 5px solid $faintDark;
  width:calc(100%);
  padding:0.25em;
}
#side-bar .item-expandable{
  @include flex(row,space-between,center);
}
#side-bar >span.menu-item{
  @include flex(row,flex-start,center);
}
#side-bar .item-expandable :nth-child(1),#side-bar >span.menu-item >span.material-icons{
  margin-right:0.25em;
}
#side-bar .item-expandable :nth-child(2){
  flex-grow: 1;
}
//end side bar

//footer
footer{
  text-align: center;
  color: $defaultColor;
  width: calc(100% - 2em);
  padding:0.5em 1em;
  @include setBg($faintDark);
}
//end footer

//form container
.form-container{
  @include flex(column,flex-start,center);
  @include addRoundCorner(30px);
  @include setBg($faint);
  width:60%;
  margin:1em auto;
  color:$faintDark;
  padding:1em 0;
}
.form-container > span{
  // align-self: flex-start;
  margin:0.5em 1em;
}

//start buttons
.no-corner{
  @include squareCorner();
}
.export-buttons{
  width:50px;
  @include setBg($faintDark);
  color:$defaultColor;
  margin:0.25em;
  cursor: pointer;
}
.buttons,.buttons-s{
  padding:0.5em 1em;
  border:none;
  border-radius: 8px;
  cursor: pointer;
  min-width:100px;
  font-family: $fontFamily,cursive;
  text-align: center;
  font-weight: bold;
  font-size: $standardTextSize;
}
.buttons{
  @include addBorder(1px,$primaryDarkColor ,solid );
  @include setBg(transparent);
  color:$primaryDarkColor;
}
.buttons-s{
  @include setBg($primaryDarkColor);
  color:$defaultColor;
}
.secondary-button{
  @include setBg($faint);
  width:70px;
  color:$defaultColor;
  @include squareCorner();
  border:none;
  margin:0.5em 0;
  padding:0.25em;
  font-size: small;
  align-self: flex-end;
}
.dialog-button{
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  color:$faintDark;
  margin:1em;
}
//end buttons
//forms
form {
  @include flex(column,flex-start ,center );
  padding: 1em;
  margin: 0 auto;
  // border:1px solid $primaryDarkColor;
}
form#signup{
  width:50%;
}
form textarea,form input[type="number"],form input[type="text"], form input[type="email"],form input[type="password"],form input[type="select"],form input[type="submit"]{
  flex-grow: 1;
  padding:0.5em 0.5em;
  margin:0.5em 0;
}
input[type="email"]:invalid, input[type="password"]:invalid{
  outline-color: $failColor;
}
input[type="email"]:valid, input[type="password"]:valid{
  outline-color: $successColor;
}
form input[type="submit"]{
  @extend .buttons-s;

  }
form input[type="submit"] :disabled{
  background-color: $faintDark !important;
  cursor: not-allowed;
}
form input[type="submit"]{
  max-width: 150px;
  margin-right:2em;
}
  .form-group,.form-group-no-border{
    padding:0.25em 0.5em;
    @include addRoundCorner(4px);
    min-width: 300px;
  }
  .form-group-no-border{
    padding:0;
    @include flex(row,space-between,center);
    margin:5px 0;
    width:100%;
  }
  .form-group-no-border > span{
    @include flex(row,flex-start,center);
    font-size: large;
    color: $faintDark;
  }
  
  .form-group{
    border:1px solid $primaryDarkColor;
    @include flex(row,flex-start,center);
    margin:5px;
    width: calc(100% - 5px - 1em);
  }
  .form-group > input[type="checkbox"]:checked{
    color: $primaryDarkColor;
  }
  .form-group > input[type="text"],.form-group > input[type="email"],.form-group > input[type="password"]{
    outline-color: none;
    outline-width: 0;
    outline-width: none;
    border:0;
    font-size: $standardTextSize;
    margin:0;
  }
  .form-group > input[type="email"]:focus,.form-group > input[type="password"]:focus{
    outline:none;
    border: 0;
  }
  .form-group > img.icon{
    width: 24px;
    height:24px;
  }
  .map{
    height:300px;
  }
  .search{
    width: calc(120px - 0.5em);
    padding:0.25em;
  }
  .form-container > form{
    @include setBg($defaultColor);
    color:$faint;
    @include addRoundCorner(20px);
    width:calc(100% - 2.2em);
    margin:0 auto;
  }
  form.client_forms > div.form-group{
    @include flex(row,center ,center );
    width:80%;
    border:0px solid red;
  }
  form.client_forms >div.form-group label{
  text-align: right;
  width:30%;
  margin-right:0.5em;
  }
  form.client_forms >div.form-group :nth-child(2){
  flex-grow: 1;
  @include addRoundCornerTop(5px,5px );
  outline-color: $primaryColor;
  padding:0.25em 0.5em;
  @include addBorder(1px,$primaryColor ,solid )
  }
  form.client_forms .form-group textarea,form.client_forms .form-group input[type="email"],form.client_forms .form-group input[type="password"],form.client_forms .form-group input[type="number"],form.client_forms .form-group input[type="text"]{

  padding:0.5em 1.5em;
  }
  //feature
  .feature-image{
    width:50%;
  }
  //tables
  main > div.content .summary-table{
    margin:0.5em auto;
    padding:0 0.5em 0.5em 0.5em;
    width:calc(100% - 2em);
    // border:1px solid red;
    @include flex(column,flex-start,space-evenly);
    @include setBg($faintLight);
  }
  main > div.content .summary-table > span.summary-head{
    @include setBg($primaryColor);
    text-align: left;
    padding:0.5em;
    align-self: center;
    width:calc(100%);
  }
  .summary-head, .head-row{
    @include flex(row,flex-start,center);
    @include addRoundCornerTop(4px,4px );
    color:$defaultColor; 
    // padding:0.25em;
  }
  .head-row{
    // @include setBg($faintDark);
    margin-top:0.5em;
    color: $faintDark;
    font-weight: bold;
  }
  .head-row > span.actions{
    @include flex(row,center,center);
  }
  .summary-table .head-row{
    margin-top:0.25em;
  }
 
  .head-row > span,.body-row >span{
    @include flex(row,flex-start,center);
    width: 100%;
    padding:0.25em;
    font-size: small;
    text-align: left;
  }
  .body-row > span.actions{
    @include flex(row,space-evenly ,center );
    flex-shrink: 1;
  }
  .body-row{
    @include setBg($defaultColor);
    color:$faint;
    cursor: pointer;
    @include shade();
    margin-top:0.5em;
  }
 .body-row:hover{
   @include setBg($faint);
   color:$faintDark;
 }
  .head-row,.body-row{
    @include flex(row,space-evenly,center );
    width: calc(100% - 0.5em - 2px);
    // border:1px solid $faint;
    padding:0.25em;
  }
  .summary-table form{
    @include flex(row,space-evenly,center);
    width:90%;
    margin:0 auto;
  }
  .summary-table form input[type="text"],.summary-table form select{
    padding:0.5em;
    margin:0 0.5em;
  }
  .actions:hover{
    color:$primaryColor;
  }
//feedback
#feedback{
  margin: 0 auto;
  width:calc(100% - 4em);
  padding:0.5em 2em;
  margin-bottom: 1em;
  text-align: center;
  color: $defaultColor;
}
.stat-card{
  @include shade(); 
  width:160px;
  height: 70px;
  margin:2em 0.5em;
  @include setBg($defaultColor);
  @include addRoundCorner(5px);
  padding:0.5em;
  @include flex(row,space-between,flex-end);
  cursor: pointer;
}
.stat-card:hover{
  @include setBg($primaryColor);
  color: $faintDark;
}
.stat-card:hover .stat-value{
  color:$faintDark;
}
.stat-card :nth-child(1){
  font-size: small;
  text-align: left;
}
.stat-card :nth-child(2){
  align-self: center;
  // flex-grow: 1;
  // height:100%;
}
.stat-value{
  font-size: $titleSize;
  color: $primaryColor;
}
.fail{
@include setBg($failColorFaint);
  border:1px solid $failColor;
  color:$defaultColor !important;
}
.success{
@include setBg($successColorFaint);
  border: 1px solid $successColor;
  color:$successColor !important;
}
.no-overflow{
  overflow-x: hidden !important;
}
.row{
  @include flex(row,flex-start,center );
}
.row-center{
  @include flex(row,center,center);
}
.row-even{
  @include flex(row,space-evenly,flex-start);
}
.row-space{
  @include flex(row,space-between,flex-start);
  width: 100%;
}
.row-end{
  @include flex(row,flex-end,center);
  width:100%;
}
.column{
  @include flex(column,flex-start,flex-start);
  // border: 1px solid red;
}
.column-center{
  @include flex(column,flex-start ,center );
}
.center-self{
  margin:0 auto;
}
.gap{
  row-gap:2em;
}
#login-container{
  margin:2em auto;
  @include flex(row,space-between ,center );
  width:80%;
  height:90vh;
  @include addRoundCorner(10px);
  overflow: hidden;
}
#my-container{
  background-image: url(../img/container.webp);
  background-size: cover;
  width:50%;
  height:100%;
  display: block;
}

.alert{
  z-index: 999999999999;
  width:100vw;
  height:100vh;
  background-color: rgba(109, 110, 95, 0.616);
  @include flex(column,center,center);
  position:fixed;
  top:0;
  margin:0 auto;
}
.alert .dialog-title,.progress-title{
  width:calc(100% - 1em);
  @include setBg($faintDark);
  color:$defaultColor;
  padding:0.5em;
}
.alert .dialog{
  width:40%;
  @include addRoundCorner(10px);
  @include shade();
  @include setBg($defaultColor);
  height:200px;
  margin:0 auto;
  padding-top:0;
  overflow:hidden;

}

.progress-card{
  @include shade();
  @include addRoundCorner(5px);
  width:200px;
}
.progress-title{
  @include addRoundCornerTop(5px,5px );
  margin:0;
}
.progress-step,.progress-step-complete{
  font-size:large;
  border-radius: 50%;
  padding:0.5em;
}
.progress-step{

}
//end layouts

// texts formats
.medium-text {
  font-size: 1.5rem;
}
.large-text {
  font-size: $titleSize;
}
.small-text {
  font-size: 0.5rem;
}
.primary-text{
  color:$primaryColor;
}
.primary-dark-text{
  color:$primaryDarkColor;
}
.secondary-text{
  color:$secondaryColor;
}
.fail-text{
  color:$failColor !important;
  font-size: small !important;
  // text-align: center !important;
}
// links
a,
a:visited,
a.nav-item,
a.nav-item:visited {
  color: $primaryDarkColor;
  text-decoration: none;
}
a:hover,
a.nav-item:hover {
  text-decoration: underline;
  color: $primaryDarkColor;
}


//buttons
.action-button{
  @include flex(row,flex-start,center);
  @include setBg($faintDark);
  @include addRoundCorner(5px);
  border:0.5px solid $faintDark;
  height:35px;
  cursor: pointer;
  overflow:hidden;

}
.action-button > span{
  padding:0.25em;
  color:$defaultColor;
}
.action-button :nth-child(2){
  cursor: pointer;
  padding:0 0.5em;
  height:100%;
  color:$faintDark;
  @include addRoundCorner(5px);
  @include flex(row,center,center);
  @include setBg($faintLight);
  flex-grow: 1;
  align-self: center;
  
}
.action-buttons > span:hover{
  color:$secondaryColor;

}
.icon-button {
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  @include flex(column, center, center);
  padding: 1em;
  color: $primaryColor;
  width: 150px;
  height: 150px;
  margin: 2em auto;
  cursor: pointer;
  border:1px solid $primaryColor;
}
.icon-button > span.material-icons {
  font-size: 3.2rem;
  cursor: pointer;
}

.icon-button:hover{
  @include setBg($secondaryColor);
  color:$defaultColor;
  border:0px solid $primaryColor;
}
.bg-success{
  @include setBg($secondaryColor);
  color:$defaultColor !important;
}
.primary-bg{
  @include setBg($primaryColor);
  color:$defaultColor !important;
}


//spinner
#spinner{
  position:fixed;
  top:50vh;
  left:50vw;
  display:block;
  width:50px;
  height:50px;
  border-radius: 50%;
  border:1px solid $primaryColor;
  border-top:none;
  animation: spin 1s linear 0s infinite forwards;
}
.button-spinner{
  display:block;
  width:30px;
  height:30px;
  border-radius: 50%;
  border:1px solid $primaryColor;
  border-top:none;
  animation: spin 1s linear 0s infinite forwards;
}

//others
.round-corner{
  @include addRoundCorner($buttonBorderRadius);
}
.hidden{
  display:none !important;
}
//material icons
.material-icons{
  cursor: pointer;
}
//animations
@keyframes spin{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
