@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  scroll-behavior: smooth;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 16px;
  color: #9c9898;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

header img.logo, .logo {
  width: calc(200px);
  height: auto;
  object-fit: contain;
}

header > div.theme-band {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 4px #ffcc00 solid;
  height: 70px;
  flex-grow: 1;
}

header > div.theme-band > div {
  display: block;
  height: 25px;
  width: 100%;
}

header > div.theme-band :nth-child(1) {
  background-color: #ffcc00 !important;
}

header > div.theme-band :nth-child(2) {
  background-color: #d3d3d3 !important;
}

header > div.theme-band :nth-child(3) {
  background-color: #cc9900 !important;
}

header > div.theme-band :nth-child(4) {
  background-color: #666262 !important;
}

main {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

main > div.content {
  flex-grow: 1;
  background-color: #d3d3d3 !important;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

main > div.content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main > div.content .info-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

main > div.content .info-charts {
  width: 40%;
}

.info-charts > canvas {
  max-height: 160px;
}

.info-charts {
  background-color: #ffffff !important;
  border: 1px solid #ffcc00;
}

main > div#dashboard_content {
  background-image: url(../img/admin_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#clients_content, #add_client_content, #edit_client_content {
  background-color: #ffffff !important;
}

.account-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.menu {
  overflow: visible;
}

.drop-down {
  position: fixed;
  top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #9c9898 !important;
}

.drop-down > span {
  cursor: pointer;
  padding: 0.5em;
  color: #666262;
  width: calc(100% - 1em);
  background-color: #d3d3d3 !important;
  text-align: left;
}

.drop-down > span:hover {
  background-color: #ffffff !important;
  color: #666262;
}

.arrow {
  color: #666262;
  cursor: pointer;
}

.sort-arrow {
  cursor: pointer;
}

#side-bar, .drop-down {
  background-color: #9c9898 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #666262;
  width: 200px;
  text-align: left;
  font-size: large;
}

#side-bar {
  padding-top: 1em;
  min-height: 100vh;
  height: 100%;
}

#side-bar .item {
  width: calc(100% - 4em);
  padding: 0.5em 2em;
  margin: 0 auto;
  cursor: pointer;
}

#side-bar .active {
  background-color: #d3d3d3 !important;
  border-left: 10px solid #666262;
  width: calc(100% - 4em - 10px);
}

footer {
  text-align: center;
  color: #ffffff;
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  background-color: #666262 !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  background-color: #9c9898 !important;
  width: 60%;
  margin: 2em auto;
  color: #666262;
  padding: 1em 0;
}

.form-container > span {
  margin: 1em;
}

.no-corner {
  border-radius: unset !important;
}

.export-buttons {
  width: 50px;
  background-color: #666262 !important;
  color: #ffffff;
  margin: 0.25em;
  cursor: pointer;
}

.buttons, .buttons-s, form input[type=submit] {
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 100px;
  font-family: "Baloo Thambi 2", cursive;
  font-weight: bold;
  font-size: 16px;
}

.buttons {
  border: 1px #cc9900 solid;
  background-color: transparent !important;
  color: #cc9900;
}

.buttons-s, form input[type=submit] {
  background-color: #cc9900 !important;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

form#signup {
  width: 50%;
}

form textarea, form input[type=number], form input[type=text], form input[type=email], form input[type=password], form input[type=select], form input[type=submit] {
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
}

input[type=email]:invalid, input[type=password]:invalid {
  outline-color: #e63030c9;
}

input[type=email]:valid, input[type=password]:valid {
  outline-color: #ffcc00;
}

.form-group, .form-group-no-border {
  padding: 0.25em 0.5em;
  border-radius: 4px;
  min-width: 300px;
}

.form-group-no-border {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.form-group-no-border > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  color: #666262;
}

.form-group {
  border: 1px solid #cc9900;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  width: calc(100% - 5px - 1em);
}

.form-group > input[type=checkbox]:checked {
  color: #cc9900;
}

.form-group > input[type=email], .form-group > input[type=password] {
  outline-color: none;
  outline-width: 0;
  outline-width: none;
  border: 0;
  font-size: 16px;
  margin: 0;
}

.form-group > input[type=email]:focus, .form-group > input[type=password]:focus {
  outline: none;
  border: 0;
}

.form-group > img.icon {
  width: 24px;
  height: 24px;
}

.search {
  width: calc(100px - 0.5em);
}

.form-container > form {
  background-color: #ffffff !important;
  color: #9c9898;
  border-radius: 20px;
  width: calc(100% - 2.2em);
  margin: 0 auto;
}

form.client_forms > div.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 0px solid red;
}

form.client_forms > div.form-group label {
  text-align: right;
  width: 30%;
  margin-right: 0.5em;
}

form.client_forms > div.form-group :nth-child(2) {
  flex-grow: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline-color: #ffcc00;
  padding: 0.25em 0.5em;
  border: 1px #ffcc00 solid;
}

form.client_forms .form-group input[type=email], form.client_forms .form-group input[type=password], form.client_forms .form-group input[type=number], form.client_forms .form-group input[type=text] {
  padding: 0.5em 1.5em;
}

.feature-image {
  width: 50%;
}

.head-row {
  background-color: #666262 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff;
  margin-top: 0.5em;
}

.head-row > span, .body-row > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.5em;
}

.body-row {
  color: #9c9898;
}

.body-row :nth-child(1) {
  cursor: pointer;
}

.head-row, .body-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 2px);
  border: 1px solid #9c9898;
}

#feedback {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: calc(100% - 4em);
  padding: 0.5em 2em;
  margin-bottom: 1em;
  text-align: center;
}

.stat-card {
  width: 160px;
  height: 70px;
  margin: 0.25em;
  background-color: #ffffff !important;
  border-radius: 5px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.stat-card :nth-child(1) {
  font-size: small;
}

.stat-card :nth-child(2) {
  align-self: center;
}

.stat-value {
  font-size: 30px;
  color: #ffcc00;
}

.fail {
  background-color: #e63030c9 !important;
  color: #ffffff;
}

.success {
  background-color: #cc9900 !important;
  color: #ffffff;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-me {
  margin: 0 auto;
}

#login-container {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;
}

#my-container {
  background-image: url(../img/container.webp);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: block;
}

.medium-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 30px;
}

.small-text {
  font-size: 0.5rem;
}

.primary-text {
  color: #ffcc00;
}

.primary-dark-text {
  color: #cc9900;
}

.secondary-text {
  color: #d3d3d3;
}

.fail-text {
  color: #e63030c9;
}

a,
a:visited,
a.nav-item,
a.nav-item:visited {
  color: #cc9900;
  text-decoration: none;
}

a:hover,
a.nav-item:hover {
  text-decoration: underline;
  color: #cc9900;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.action-buttons > span {
  cursor: pointer;
  padding: 0.5em;
}

.action-buttons > span:hover {
  color: #d3d3d3;
}

.icon-button {
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #ffcc00;
  width: 150px;
  height: 150px;
  margin: 2em auto;
  cursor: pointer;
  border: 1px solid #ffcc00;
}

.icon-button > span.material-icons {
  font-size: 3.2rem;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #d3d3d3 !important;
  color: #ffffff;
  border: 0px solid #ffcc00;
}

.bg-success {
  background-color: #d3d3d3 !important;
  color: #ffffff !important;
}

.primary-bg {
  background-color: #ffcc00 !important;
  color: #ffffff !important;
}

#spinner {
  position: fixed;
  top: 50vh;
  left: 50vw;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  border-top: none;
  animation: spin 1s linear 0s infinite forwards;
}

.round-corner {
  border-radius: 8px;
}

.hidden {
  display: none !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
