@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  scroll-behavior: smooth;
}

.wrap {
  max-width: 100%;
  flex-wrap: wrap !important;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  font-size: 16px;
  color: #a8a2a2;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

header #menu {
  margin: 0.5em;
  display: none;
}

header img#client_logo {
  width: auto;
  height: 50px;
  object-fit: cover;
  margin: 0.25em 1em;
}

header img.logo, .logo {
  width: calc(200px - 1em);
  height: auto;
  margin: 0 0.5em;
  object-fit: contain;
}

header > div.theme-band {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 2px #ffcc00 solid;
  height: 70px;
  flex-grow: 1;
}

header > div.theme-band .colors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

header > div.theme-band .colors > span {
  display: block;
  height: 10px;
  width: 100%;
}

header > div.theme-band .colors :nth-child(1) {
  background-color: #ffcc00 !important;
}

header > div.theme-band .colors :nth-child(2) {
  background-color: #d3d3d3 !important;
}

header > div.theme-band .colors :nth-child(3) {
  background-color: #cc9900 !important;
}

header > div.theme-band .colors :nth-child(4) {
  background-color: #666262 !important;
}

main {
  margin: 0 auto;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #a8a2a2 !important;
}

main#signin_page, main#signup_page {
  background-color: #ffffff !important;
}

main > div.content {
  flex-grow: 1;
  background-color: #ffffff !important;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
}

main > div.content .eticket {
  background-color: #ffffff !important;
  border-radius: 10px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5em auto;
  width: calc(100% - 0em);
  cursor: pointer;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main > div.content .eticket-active {
  border-left: 8px solid #666262;
  width: calc(100% - 8px);
}

main > div.content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.25em 0;
  text-align: left;
}

main > div.content .info-map {
  height: 300px;
}

main > div.content .info-stats, main > div.content .info-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(50% - 1em);
  margin: 1em 0.25;
}

main > div.content #map-chart {
  max-height: 300px;
}

main > div.content .info-charts, main > div.content .info-map {
  padding: 0.5em;
  width: calc(50% - 1.5em);
  margin-top: 1em;
  height: 300px;
}

.info-charts > canvas {
  height: 100% !important;
  width: 100% !important;
}

.info-charts, .info-map {
  background-color: #ffffff !important;
  border: 1px solid #ffcc00;
}

main > div#dashboard_content {
  background-image: url(../img/admin_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#clients_content, #add_client_content, #edit_client_content {
  background-color: #ffffff !important;
}

.account-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#greetings {
  margin-left: 0;
  padding-left: 0;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 2em;
}

.preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
  margin: 0.25em;
}

#my-detail {
  width: 60%;
}

#my-detail > div.form-container {
  width: 100%;
}

.upload-image {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff !important;
  border-radius: 5px;
  width: calc(100% - 1em);
  padding: 0.5em;
  margin-top: 0.5em;
}

.upload-image > span {
  margin-left: 0.5em;
}

.menu {
  overflow: visible;
}

.drop-down {
  position: fixed;
  top: 140px;
  width: 100%;
  right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #a8a2a2 !important;
  border: 0.5px solid #666262;
}

.drop-down > span {
  cursor: pointer;
  padding: 0.5em;
  color: #666262;
  width: calc(100% - 1em);
  background-color: #d3d3d3 !important;
  text-align: left;
}

.drop-down > span:hover {
  background-color: #ffffff !important;
  color: #666262;
}

.arrow {
  color: #666262;
  cursor: pointer;
}

.sort-arrow {
  cursor: pointer;
}

.content .can-hide {
  margin: 1em auto;
  width: 100%;
}

#side-bar, .content {
  height: 100%;
}

#side-bar, .drop-down {
  background-color: #a8a2a2 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #666262;
  width: 200px;
  text-align: left;
  font-size: large;
}

#side-bar {
  padding-top: 1em;
  min-width: 200px;
}

#side-bar .menu-item, #side-bar .item-expandable {
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  margin: 0 auto;
  cursor: pointer;
}

#side-bar > span.active {
  background-color: #d3d3d3 !important;
  border-left: 10px solid #666262;
  width: calc(100% - 2em);
  padding-left: calc(1em - 10px);
}

#side-bar .submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1em;
  width: calc(100% - 1em);
  font-size: medium;
}

#side-bar .submenu > span.active {
  background-color: #d3d3d3 !important;
  border-left: 5px solid #666262;
  width: calc(100%);
  padding: 0.25em;
}

#side-bar .item-expandable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#side-bar > span.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#side-bar .item-expandable :nth-child(1), #side-bar > span.menu-item > span.material-icons {
  margin-right: 0.25em;
}

#side-bar .item-expandable :nth-child(2) {
  flex-grow: 1;
}

footer {
  text-align: center;
  color: #ffffff;
  width: calc(100% - 2em);
  padding: 0.5em 1em;
  background-color: #666262 !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  background-color: #a8a2a2 !important;
  width: 60%;
  margin: 1em auto;
  color: #666262;
  padding: 1em 0;
}

.form-container > span {
  margin: 0.5em 1em;
}

.no-corner {
  border-radius: unset !important;
}

.export-buttons {
  width: 50px;
  background-color: #666262 !important;
  color: #ffffff;
  margin: 0.25em;
  cursor: pointer;
}

.buttons, .buttons-s, form input[type=submit] {
  padding: 0.5em 1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 100px;
  font-family: "Baloo Thambi 2", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.buttons {
  border: 1px #cc9900 solid;
  background-color: transparent !important;
  color: #cc9900;
}

.buttons-s, form input[type=submit] {
  background-color: #cc9900 !important;
  color: #ffffff;
}

.secondary-button {
  background-color: #a8a2a2 !important;
  width: 70px;
  color: #ffffff;
  border-radius: unset !important;
  border: none;
  margin: 0.5em 0;
  padding: 0.25em;
  font-size: small;
  align-self: flex-end;
}

.dialog-button {
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  color: #666262;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  margin: 0 auto;
}

form#signup {
  width: 50%;
}

form textarea, form input[type=number], form input[type=text], form input[type=email], form input[type=password], form input[type=select], form input[type=submit] {
  flex-grow: 1;
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
}

input[type=email]:invalid, input[type=password]:invalid {
  outline-color: #e63030;
}

input[type=email]:valid, input[type=password]:valid {
  outline-color: #0f810f;
}

form input[type=submit] :disabled {
  background-color: #666262 !important;
  cursor: not-allowed;
}

form input[type=submit] {
  max-width: 150px;
  margin-right: 2em;
}

.form-group, .form-group-no-border {
  padding: 0.25em 0.5em;
  border-radius: 4px;
  min-width: 300px;
}

.form-group-no-border {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.form-group-no-border > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
  color: #666262;
}

.form-group {
  border: 1px solid #cc9900;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  width: calc(100% - 5px - 1em);
}

.form-group > input[type=checkbox]:checked {
  color: #cc9900;
}

.form-group > input[type=text], .form-group > input[type=email], .form-group > input[type=password] {
  outline-color: none;
  outline-width: 0;
  outline-width: none;
  border: 0;
  font-size: 16px;
  margin: 0;
}

.form-group > input[type=email]:focus, .form-group > input[type=password]:focus {
  outline: none;
  border: 0;
}

.form-group > img.icon {
  width: 24px;
  height: 24px;
}

.map {
  height: 300px;
}

.search {
  width: calc(120px - 0.5em);
  padding: 0.25em;
}

.form-container > form {
  background-color: #ffffff !important;
  color: #a8a2a2;
  border-radius: 20px;
  width: calc(100% - 2.2em);
  margin: 0 auto;
}

form.client_forms > div.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 0px solid red;
}

form.client_forms > div.form-group label {
  text-align: right;
  width: 30%;
  margin-right: 0.5em;
}

form.client_forms > div.form-group :nth-child(2) {
  flex-grow: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline-color: #ffcc00;
  padding: 0.25em 0.5em;
  border: 1px #ffcc00 solid;
}

form.client_forms .form-group textarea, form.client_forms .form-group input[type=email], form.client_forms .form-group input[type=password], form.client_forms .form-group input[type=number], form.client_forms .form-group input[type=text] {
  padding: 0.5em 1.5em;
}

.feature-image {
  width: 50%;
}

main > div.content .summary-table {
  margin: 0.5em auto;
  padding: 0 0.5em 0.5em 0.5em;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;
  background-color: #f0ebeb9d !important;
}

main > div.content .summary-table > span.summary-head, .subscription-forms .summary-head, .consignment-forms .summary-head {
  background-color: #cc9900 !important;
  text-align: left;
  padding: 0.5em;
  align-self: center;
  width: calc(100% - 1em);
}

.summary-head, .head-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #ffffff;
}

.head-row {
  margin-top: 0.5em;
  color: #666262;
  font-weight: bold;
}

.head-row > span.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.summary-table .head-row {
  margin-top: 0.25em;
}

.head-row > span, .body-row > span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0.25em;
  font-size: small;
  text-align: left;
}

.body-row > span.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 1;
}

.body-row {
  background-color: #ffffff !important;
  color: #a8a2a2;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.5em;
}

.body-row:hover {
  background-color: #a8a2a2 !important;
  color: #666262;
}

.head-row, .body-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% - 0.5em - 2px);
  padding: 0.25em;
}

.summary-table form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.summary-table form input[type=text], .summary-table form select {
  padding: 0.5em;
  margin: 0 0.5em;
}

.actions:hover {
  color: #ffcc00;
}

#feedback {
  margin: 0 auto;
  width: calc(100% - 4em);
  padding: 0.5em 2em;
  margin-bottom: 1em;
  text-align: center;
  color: #ffffff;
}

.stat-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: calc(15% - 1em);
  height: clamp(50px,70px,150px);
  margin: 2em 0.5em;
  background-color: #ffffff !important;
  border-radius: 5px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.stat-card:hover {
  background-color: #ffcc00 !important;
  color: #666262;
}

.stat-card:hover .stat-value {
  color: #666262;
}

.stat-card :nth-child(1) {
  font-size: small;
  text-align: left;
}

.stat-card :nth-child(2) {
  align-self: center;
}

.stat-value {
  font-size: 30px;
  color: #ffcc00;
}

.fail {
  background-color: #e63030ab !important;
  border: 1px solid #e63030;
  color: #ffffff !important;
}

.success {
  background-color: #3cbe3c9a !important;
  border: 1px solid #0f810f;
  color: #0f810f !important;
}

.no-overflow {
  overflow-x: hidden !important;
}

.row-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-even {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.center-self {
  margin: 0 auto;
}

.consignment-details {
  width: 100%;
}

.consignment-forms, .subscription-forms {
  margin: 0 2em 2em 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.consignment-forms {
  width: 60%;
}

.subscription-forms {
  width: 50%;
}

.consignment-forms > form {
  width: calc(100% - 2em);
  margin-top: -0.5em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff !important;
}

.consignment-forms label, .subscription-forms label {
  text-align: right;
  padding: 0.25em 0.5em;
  width: calc(40% - 1em);
}

.subscription-forms input, .subscription-forms textarea, .subscription-forms select, .consignment-forms input, .consignment-forms textarea, .consignment-forms select {
  flex-grow: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: calc(100% - 1em);
  padding: 0.25em 0.5em;
}

.subscription-forms p, .subscription-forms .features {
  margin: 0.5em;
  width: calc(100% - 1em);
  padding-bottom: 1em;
}

.subscription-forms .features > div.row-space {
  flex-grow: 1 !important;
}

.subscription-forms .features .checkbox {
  align-self: flex-end;
  color: #ffcc00;
}

#packages {
  width: 40%;
}

#packages .subscription-forms {
  margin: 0 auto;
  width: calc(100% - 1em);
}

.gap {
  row-gap: 2em;
}

#login-container {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 90vh;
  border-radius: 10px;
  overflow: hidden;
}

#my-container {
  background-image: url(../img/container.webp);
  background-size: cover;
  width: 50%;
  height: 100%;
  display: block;
}

.alert {
  z-index: 999999999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(109, 110, 95, 0.616);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  margin: 0 auto;
}

.alert .dialog-title, .progress-title {
  width: calc(100% - 1em);
  background-color: #666262 !important;
  color: #ffffff;
  padding: 0.5em;
}

.alert .dialog {
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff !important;
  height: 200px;
  margin: 0 auto;
  padding-top: 0;
  overflow: hidden;
}

.progress-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  width: 30%;
}

.progress-card > div.row {
  padding: 0.5em;
}

.progress-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
}

.progress-step, .progress-step-complete {
  font-size: medium;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.25em;
  width: 10px;
  height: 10px;
  text-align: center;
  margin: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.progress-step-complete {
  border: 1px solid #cc9900;
  color: #ffffff;
  background-color: #cc9900 !important;
}

.progress-step {
  border: 1px solid #666262;
  color: #666262;
}

.bold {
  font-weight: bold;
}

.medium-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 30px;
}

.small-text {
  font-size: 0.5rem;
}

.primary-text {
  color: #ffcc00;
}

.primary-dark-text {
  color: #cc9900;
}

.secondary-text {
  color: #d3d3d3;
}

.fail-text {
  color: #e63030 !important;
  font-size: small !important;
}

a,
a:visited,
a.nav-item,
a.nav-item:visited {
  color: #cc9900;
  text-decoration: none;
}

a:hover,
a.nav-item:hover {
  text-decoration: underline;
  color: #cc9900;
}

.action-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #666262 !important;
  border-radius: 5px;
  border: 0.5px solid #666262;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
}

.action-button > span {
  padding: 0.25em;
  color: #ffffff;
}

.action-button :nth-child(2) {
  cursor: pointer;
  padding: 0 0.5em;
  height: 100%;
  color: #666262;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f0ebeb9d !important;
  flex-grow: 1;
  align-self: center;
}

.action-buttons > span:hover {
  color: #d3d3d3;
}

.icon-button {
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  color: #ffcc00;
  width: 150px;
  height: 150px;
  margin: 2em auto;
  cursor: pointer;
  border: 1px solid #ffcc00;
}

.icon-button > span.material-icons {
  font-size: 3.2rem;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #d3d3d3 !important;
  color: #ffffff;
  border: 0px solid #ffcc00;
}

.bg-success {
  background-color: #d3d3d3 !important;
  color: #ffffff !important;
}

.primary-bg {
  background-color: #ffcc00 !important;
  color: #ffffff !important;
}

#spinner {
  position: fixed;
  top: 50vh;
  left: 50vw;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffcc00;
  border-top: none;
  animation: spin 1s linear 0s infinite forwards;
}

.button-spinner {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ffcc00;
  border-top: none;
  animation: spin 1s linear 0s infinite forwards;
}

.round-corner {
  border-radius: 8px;
}

.hidden {
  display: none !important;
}

.material-icons {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
