@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
$primaryColor: #ffcc00;
$primaryDarkColor: #cc9900;
$secondaryColor: #d3d3d3;
$faint: #9c9898;
$faintDark:#666262;
$defaultColor: #ffffff;
$failColor:#e63030c9;
$buttonBorderRadius:8px;
$titleSize:30px;
$standardTextSize:16px;
$fontFamily:'Baloo Thambi 2';
$sideBarSize: 200px;

@mixin shade {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@mixin flex($d: row, $j: center, $a: center) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}
@mixin setBg($color: $defaultColor) {
  background-color: $color !important;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily,cursive;
  font-size:$standardTextSize;
}

//layouts
header {
  @include flex(row, space-between, flex-start);
  padding: 0;
}
header img.logo {
  width: calc(#{$sideBarSize});
  height: auto;
  // margin:0.25em;
  object-fit: contain;
}
header > div.theme-band{
  @include flex(row,space-evenly,flex-start);
  border-bottom:4px $primaryColor solid;
  height:70px;
  flex-grow: 1;
}
header > div.theme-band > div{
  display: block;
  height:25px;
  width:100%;
}
header > div.theme-band :nth-child(1){
  @include setBg($primaryColor);
}
header > div.theme-band :nth-child(2){
  @include setBg($secondaryColor);
}
header > div.theme-band :nth-child(3){
  @include setBg($primaryDarkColor);
}
header > div.theme-band :nth-child(4){
  @include setBg($faintDark);
}
//main
main{
  margin:0 auto;
  @include flex(row,flex-start,flex-start );
  // @include setBg($primaryDarkColor);
}
//content
main > div.content{
  flex-grow: 1;
  @include setBg($secondaryColor);
  padding:0.5em 1em;
  @include flex(column,flex-start,flex-start);
}
main > div.content .info{
  @include flex(row,space-between ,center );
  width: 100%;

}
.account-menu{
  @include flex(row,flex-start,center);
}
//avatar
.user-avatar{
  border-radius: 50%;
  width:50px;
  height:50px;
  object-fit: contain;
  // border:1px solid $faintDark;
}
#arrow-drop{
  color:$faintDark;
  cursor: pointer;
}
//end of content
//side bar
#side-bar{
  @include setBg($faint);
  @include flex(column,flex-start,flex-start );
  color:$faintDark;
  width:$sideBarSize;
  text-align: left;
  font-size: large;
  padding-top:1em;
  height: calc(100vh - 74px);
}
#side-bar .item{
  width:calc(100% - 4em);
  padding:0.5em 2em;
  margin:0 auto;
}
#side-bar .active{
  @include setBg($secondaryColor);
  border-left: 10px solid $faintDark;
  width:calc(100% - 4em - 10px);
  // padding-left: 1em;
}

//end side bar

//footer
footer{
  text-align: center;
  color: $defaultColor;
  width: calc(100% - 2em);
  padding:0.5em 1em;
  @include setBg($faintDark);
}
//end footer

//feedback
#feedback{
  position:fixed;
  top:0;
  margin: 0 auto;
  width:calc(100% - 4em);
  padding:0.5em 2em;
  @include setBg($failColor);
  color:$defaultColor;
  margin-bottom: 1em;
}
//end layouts


//display
.hidden{
  display:none;
}
//start buttons
.buttons{
  @include setBg($primaryDarkColor);
  color:$defaultColor;
  padding:0.5em 1em;
  border:none;
  border-radius: 8px;
  cursor: pointer;
  min-width:100px;
  font-family: $fontFamily,cursive;
  text-transform: uppercase;
  font-weight: bold;
}

//end buttons
//forms
form {
  @include flex(column,flex-start ,center );
  padding: 1em;
  margin: 0 auto;
  // border:1px solid $primaryDarkColor;
}
form#signup{
  width:50%;
}
form input[type="number"],form input[type="text"], form input[type="email"],form input[type="password"],form input[type="select"],form input[type="submit"]{
  min-width:300px;
  padding:0.5em 1em;
  margin:0.5em;
}
input[type="email"]:invalid, input[type="password"]:invalid{
  outline-color: $failColor;
}
input[type="email"]:valid, input[type="password"]:valid{
  outline-color: $primaryColor;
}
form input[type="submit"]{
  @extend .buttons;

  }
  // align-self: flex-start;

// form input[type="submit"]:hover{
//   background-color: $primaryDarkColor;
//   color:$defaultColor;
// }


//end forms


// texts formats
.medium-text {
  font-size: 1.5rem;
}
.large-text {
  font-size: $titleSize;
}
.small-text {
  font-size: 0.5rem;
}
.primary-text{
  color:$primaryColor;
}
.primary-dark-text{
  color:$primaryDarkColor;
}
.secondary-text{
  color:$secondaryColor;
}
.fail-text{
  color:$failColor;
}
// links
a,
a:visited,
a.nav-item,
a.nav-item:visited {
  color: $primaryDarkColor;
  text-decoration: none;
}
a:hover,
a.nav-item:hover {
  text-decoration: underline;
  color: $primaryDarkColor;
}


//buttons
.action-buttons{
  @include flex(row,space-evenly,flex-end);
  // border:1px solid red;
  // flex-grow: 1;
}
.action-buttons > span{
  cursor: pointer;
  padding:0.5em;
  // color:$faint;
}
.action-buttons > span:hover{
  color:$secondaryColor;

}
.icon-button {
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  @include flex(column, center, center);
  padding: 1em;
  color: $primaryColor;
  width: 150px;
  height: 150px;
  margin: 2em auto;
  cursor: pointer;
  border:1px solid $primaryColor;
}
.icon-button > span.material-icons {
  font-size: 3.2rem;
  cursor: pointer;
}

.icon-button:hover{
  @include setBg($secondaryColor);
  color:$defaultColor;
  border:0px solid $primaryColor;
}
.bg-success{
  @include setBg($secondaryColor);
  color:$defaultColor !important;
}
.primary-bg{
  @include setBg($primaryColor);
  color:$defaultColor !important;
}


//spinner
#spinner{
  display:block;
  width:50px;
  height:50px;
  border-radius: 50%;
  border:1px solid $secondaryColor;
  border-top:none;
  animation: spin 1s linear 0s 3 forwards;
}

@keyframes spin{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}